.Feed {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.Spinner {
  position: absolute;
  top: 20vh;
  opacity: 0.5;
}
