.StdLinkGroup{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
text-align: left;
margin-left: 25px;
}
.StdLinkText{
  text-decoration: none;
  font-size: 12px;
  font-weight: 5px;
  color: Grey;
}
.StdLinkText-Bottom{
  padding-bottom: 40px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 5px;
  color: Grey;
}
