.NavigationBar {
  width: 100%;
}

.Subbar {
  width: 95%;
  max-width: 1280;
  margin: 0 auto;
}

.SidebarElements {
  margin-top: 30%;
}

.Bottom {
  bottom: 8%;
}

.Sidelink {
  width: 100%;
  left: 0;
  color: #000000;
  padding: -10%;
}
