.Post {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.Card {
  position: relative;
}

.Image {
  width: 100%;
  display: block;
}

.Profile-img {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  border-style: double;
  border-width: thin;
  border-color: rgba(5,5,5,0.21);
}

.Post-credit{
  text-decoration: underline;
  font-weight: normal;
  font-style: italic;
  color: dimgrey;
  vertical-align: middle;
  font-size: 14px;
}

.Overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.69);
  overflow: hidden;
}

.Overlay-Text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 140%;
  color: white;
  padding: 10px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.Overlay-Source {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 14px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.Panel {
  padding-bottom: 1%;
}
.Panel-text{
  margin-left: 10px;
  vertical-align: middle;
  font-style: italic;
  font-size: 14px;
}
