.Legals{
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 450px;
  color: #777777;
  letter-spacing: 0.7px;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}

.Headline {
  color: Black;
  font-weight: 40;
  letter-spacing: 0px;
  text-align: left;
}

.Title {
  color: Black;
  letter-spacing: 0px;
  white-space: pre-wrap;
  text-align: center;
  font-size: 70px;
  font-weight: 45;
}

strong {
  color: #444444;
  font-weight: 550;
}
